// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p {
  display: block;
  margin-brock-start: 1em;
  margin-brock-end: 1em;
  margiin-inline-start: 0px;
  margin-inline-end: 0px;
}